<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <% for (let i = 0; i < catFact.data.length; i++) { %>
      <p><%= catFact.data[i].fact %></p>
      <% } %>
    </div>
    <a href="/cats/fact">Get another cat fact!</a>
  </body>
</html>
